


*html,body{
	font-family:'Century Gothic';
	padding:0;
	margin:0;
}

h1 {
	font-family:'Century Gothic';
	color:#fff; 
	font-size:30px;  
	text-align:center;
	margin:40px; 
}

h2 {
	font-family:'Century Gothic';
	text-align:center;
}

h3 {
	font-family:'Century Gothic';
	text-align:center;
	padding:0;
	font-size:14px; 
}

p {
	font-family:'Century Gothic';
}



/*Sections**********/

#section1 {
	text-align: center;
	padding: 50px 0 125px;
	color: black;
	position: relative;
}

#section2 {
	text-align: center;
	position: relative;
}

#section3 {
	text-align: center;
	padding: 50px 0 125px;
	color: black;
	position: relative;
}

#section4 {
	text-align: center;
	padding: 50px 0 125px;
	color: black;
	position: relative;
}

#section5 {
	text-align: center;
	padding: 50px 0 125px;
	color: black;
	position: relative;
	
}


/*Sections END**********/

/*INTRO PAGE*********/

.bottom{
	bottom:0;
	right:0;	
	display:inline-flex;
	position:absolute;
		
}

 #profile img{
	margin-top:20px;
	height:200px;
	border:5px solid white;
	border-radius:100%;
}



.bmenu{
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}
.bmenu li{
    font-size: 30px;
    display: block;
}

.bmenu li a{
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #eeb213;
    color: #eeb213;
    padding: 5px 20px;
    margin: 2px;
    background: rgba(0,0,0,0.7);
    letter-spacing: 1px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.bmenu:hover li a{
    text-shadow: 0px 0px 10px #eeb213;
    color: transparent;
    background: rgba(0,0,0,0.2);
}
.bmenu li a:hover{
    background: rgba(0,0,0,1.0);
    text-shadow: 0px 0px 1px #eeb213;
}


/*INTRO PAGE END*********/



/* COLLEGE START*************/

.header {
	top:0;
	position:absolute;
	width:100%;
	background:black;
	color:#005382;
	z-index:1;
}

.conn-background {
	width:100%;
	height: 100%;
	position:absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top:0;
	background-image:url(../img/conn_back.jpg);
	opacity: 0.4;
    filter: alpha(opacity=40);
}

.college {
	width:40%;
	height:75%;
	margin-top:10%;
	margin-bottom:10%;
	margin-left:50%;
	padding-left:10px;
	padding-top:5px;
	padding-right:10px;
	overflow: scroll;
	border:10px solid #eee;
	text-align:left;
	position:relative;
	background:grey;
	padding:5px 10px 5px 10px;
	color:white;	
	font-size:14px;
}

.college:hover { 
	overflow: auto;
	border:10px solid #333;
}

.college-image img {
	width:40%;
	height:75%;
	left:5%;
	margin-top:10%;
	margin-bottom:10%;
	position:fixed;
	border:10px solid #eee;
}

.college-image:hover img{ 
	border-color:#333;
}



/* COLLEGE END*************/

/* ECS START*************/

.header1 {
	top: 0; 
	text-align:center;
	display:table;
	position:absolute;
	border: 10px solid #eee;
	border-color: #333;
	width:32.9%;
	padding:0;
	margin:0;
	border-radius:100px;
	background: #C6C2C2;
	z-index : 1;
	color:#005382;
}

.slide-box {
	width:35%;
	height: 420px;
	margin-bottom:10%;
	margin-top:8%;
	left:55%;
	position:relative;
	background: #005382;
	border:10px solid #eee;
	color:#fff;
	padding:0px 10px 0px 10px;
	align-content:center;
	text-align:left;
	overflow: scroll;
	font-size:14px;
}

.slide-box:hover { 
	overflow: auto;
	border:10px solid #333; 
}



/* ECS END*************/

/* KBRA START*************/

.header2 {
	top:0;
	position:absolute;
	border: 10px solid #eee;
	border-color: #333;
	width:32.9%;
	border-radius:100px;
	z-index : 1;
	background: #EFAB00;
	color:black;
}

.kbra-Essay {
	width:40%;
	height: 70%;
	margin-bottom:10%;
	margin-top:10%;
	left:15%;
	position:relative;
	display: inline;
	overflow: scroll;
	float:left;
	background: #FFF;
	border:10px solid #eee;
	color:#333;
	padding:0px 10px 0px 10px;
	align-content:center;
	text-align:left;
	font-size:14px;
}

.kbra-Essay:hover{
	border-color: #333;
	overflow: auto;

}

.kbra-Images {
	width:35%;
	height: 70%;
	margin-bottom:10%;
	margin-top:10%;
	display: inline;
  	float: left;
	left:10%;
	overflow: scroll;
	position:relative;
	background: #FFF;
	border:10px solid #eee;
	padding:0px 10px 0px 10px;
	align-content:center;
}

.kbra-Images img{
	max-width:80%;
	margin-left:auto;
	margin-right:auto;
	display: block;
	
}

.kbra-Images:hover{
	border-color: #333;
	overflow: auto;

}

/* KBRA END*************/

/* START-UP START*************/


.header3 {
	top:0;
	position:absolute;
	border: 10px solid #eee;
	border-color: #333;
	width:32.9%;
	border-radius:100px;
	z-index : 1;
	background: #197B76;
	color:#fff;
}

.s-background {
	width:34%;
	position:absolute;
	background-size: cover;
	height: 100%;
	top:0;
	background-image:url(../img/6d.png);
	opacity: 0.4;
    filter: alpha(opacity=40);
}


.start_Up {
	width:60%;
	height: 550px;
	margin-bottom:10%;
	margin-top:10%;
	left:20%;
	position:relative;
	overflow: scroll;
	background: #FFF;
	border:10px solid #eee;
	color:#333;
	padding:0px 10px 0px 10px;
	align-content:center;
	text-align:left;
	opacity: 0.8;
    filter: alpha(opacity=80);
	font-size:14px;
}

.start_Up p{
	color:#333;
	padding:0px 10px 0px 10px;
	text-align:left;
	overflow: scroll;
	opacity: 1;
    filter: alpha(opacity=100);
	font-size:14px;
}

.start_Up:hover{
	border-color: #333;
	opacity: 0.92;
    filter: alpha(opacity=92);
	overflow: auto;
}




/* START-UP END*************/



/* C START*************/

.c-background {
	width:100%;
	height: 100%;
	position:absolute;
	background-repeat: no-repeat;
	background-size: cover;
	top:0;
	background-image:url(../img/c_backsite.jpg);
	opacity: 0.4;
    filter: alpha(opacity=40);
}

.Why-C {
	width:60%;
	height: 80%;
	margin-bottom:10%;
	margin-top:5%;
	left:20%;
	position:relativs;
	margin:0 auto;
	background: #FFF;
	border:10px solid #eee;
	color:#333;
	padding:0px 10px 0px 10px;
	align-content:center;
	overflow: scroll;
	text-align:left;
	opacity: 0.75;
    filter: alpha(opacity=75);
	font-size:14px;
}

.Why-C:hover { 
	overflow: auto;
	opacity: 0.85;
    filter: alpha(opacity=85);
	border:10px solid #333;
}
/* C END*************/




/* Conclusion*************/


#post{
	background-color:#ffffff;
	margin-bottom:10%;
	margin-top:-10%;
	position:absolute;
	left:10%;
	padding: 5px 15px 10px 15px;
	width:80%;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1), 1px 1px 1px 1px rgba(0,0,0,0.1);

}

.header-contact{
	font-family:'Century Gothic';
	text-align:center;
	padding:0;
	font-size:14px; 
}

#post a{
	color:black;
	text-decoration:none;
}

#contactme{
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.1), 1px 1px 1px 1px rgba(0,0,0,0.1);
	display:inline-block;
	margin:5px;
	padding:5px;
}
#contactme .submit{
	width:200px;
	background-color:black;
	color:white;
	float:right;
	margin-top:5px;
}

#contactme .submit:hover {
	border:2px solid #00ff21;
}

#contactme .box{
	float:right;
	right:50px;
	width:800px;
	margin-left:10px;
}

.map iframe{
	 border:0; 
	 position:relative; 
	 float:right; 
	 width:100%;
	 padding-bottom:10px;
}

 .about-head {
	height: 200px;
	width: 100%;
	background-color: black;
	color:white;
	top:0;
	padding-top:20px;
	padding-bottom:30px;
	text-align:center;
	vertical-align:middle;
	position: absolute;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(0,0,0,0.1);
	z-index:1;
}


.about-content{
	margin-top:10%;
	margin-bottom:10%;
}


.social {
	color:black;
	margin-top:20px;
	
}
.social em{
	position:relative;
	margin-top:10%;
	margin-bottom:10%;
	margin:10px 10px 0px 10px;
	font-size:40px;
	font-weight:normal;
	line-height:20px;
}

.social a:hover{
	font-size:42px;
}
/* Conclusion Conclusion*************/



/*SKILLS**************/



@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



.ca-icon{
    font-size: 20px;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
	color:black;
	top: 0px;
	left:30px;
    width: 90px;
    text-align: center;
    transition: all 300ms linear;
}

.ca-content{
    position: relative;
	font-size:8px;
	margin:0 auto;
    width: 130px;
    top: 60px;
}

.ca-main{
    font-size: 15px;
    color: #005382;
    opacity: 0.8;
    text-align: center;
    transition: all 200ms linear;
}

.ca-sub{
    text-align:center;
    font-size: 14px;
    color: #666;
    line-height: 40px;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 200ms linear;
}

.ca-menu{
    padding: 0;
	
}

.ca-menu li a{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    position:relative;
}

.ca-menu li{
    width: 170px;
    height: 170px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #C6C2C2;
	left:30%;
	margin-top:-8%;
	margin-bottom:5%;	
    margin-right: 4px;
	margin-left:-30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 125px;
    transition: all 400ms linear;
}

.ca-menu li:hover{
    border-color: #333;
    z-index: 999;
    transform: scale(1.1);
}
.ca-menu li:hover .ca-icon{
    color: #000;
    font-size: 30px;
    text-shadow: 0px 0px 1px #000;
    animation: moveFromBottom 300ms ease;
}
.ca-menu li:hover .ca-main{
    color: #000;
    animation: moveFromBottom 500ms ease;
}

.ca-menu li:hover .ca-sub{
    opacity: 0.8;
}

/*SKILLS END**************/


/*****IMAGE SLIDER******/
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
 
* { margin: 0; padding: 0; }
 

.slider {
    display: block;
    height: 320px;
    min-width: 260px;
    max-width: 640px;
	width: 15%;
    margin: auto;
	border:10px solid #eee;
    margin-top: 3.2%;
	margin-left:2%;
	float:left;
    position: absolute;
}
 
.slider:hover{
	border:10px solid #333;
}
 
.sliderinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
 
.sliderinner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: absolute;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
 
.sliderinner>ul>li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
}
 
.sliderinner>ul>li>img {
    margin: auto;
    height: 100%;
	
}
 
.slider input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}
 
.slider label {
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color:#ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
 
.slider input[type=radio]#control1:checked~label[for=control1] { background-color: #333; }
.slider input[type=radio]#control2:checked~label[for=control2] { background-color: #333; }
.slider input[type=radio]#control3:checked~label[for=control3] { background-color: #333; }
.slider input[type=radio]#control4:checked~label[for=control4] { background-color: #333; }
.slider input[type=radio]#control5:checked~label[for=control5] { background-color: #333; }
.slider label[for=control1] { margin-left: -36px }
.slider label[for=control2] { margin-left: -18px }
.slider label[for=control4] { margin-left: 18px }
.slider label[for=control5] { margin-left: 36px }
.slider input[type=radio]#control1:checked~.sliderinner>ul { left: 0 }
.slider input[type=radio]#control2:checked~.sliderinner>ul { left: -100% }
.slider input[type=radio]#control3:checked~.sliderinner>ul { left: -200% }
.slider input[type=radio]#control4:checked~.sliderinner>ul { left: -300% }
.slider input[type=radio]#control5:checked~.sliderinner>ul { left: -400% }
 
.description {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    font-family:Archivo Narrow;
    z-index: 1000;
}
.description-text {
    background-color: rgba(0,0,0,.8);
    padding:0.5px;
    top: 0;
    z-index: 4;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #fff;
}

/***END IMAGE SLIDER****/

